.footer {
  position: relative;
  background-image: url('../img/footer-bg.jpg');
  @include cv;
  border-top-left-radius: 105px;
  border-top-right-radius: 105px;
  z-index: 1;

  @include r(1200) {
    border-radius: 0;
    font-size: 15px;
  }

  &::before {
    position: absolute;
    content: '';
    width: 207px;
    height: 110px;
    border-radius: 50%;
    background-color: $white;
    left: 50%;
    transform: translateX(-50%);
    top: -70px;

    @include r(768) {
      width: 167px;
      height: 100px;
    }

    @include r(500) {
      width: 103px;
    }
  }

  &-logo {
    svg {
      fill: $white;
      @include ease;

      &:hover {
        opacity: .7;
      }

      @include r(1200) {
        width: 123px;
        height: 34px;
      }

      @include r(768) {
        width: 114px;
        height: 32px;
      }
    }
  }

  &__in {
    position: relative;
    padding-top: 55px;
    padding-bottom: 55px;
    z-index: 1;

    @include r(1200) {
      padding-top: 44px;
      padding-bottom: 44px;
    }

    @include r(768) {
      display: flex;
      flex-direction: column;
    }
  }

  &__social {
    &:hover {
      opacity: .7;
    }

    @include r(1200) {
      img {
        width: 38px;
        height: auto;
      }

    }
  }

  &__link {
    font-size: 18px;
    color: $white !important;

    @include r(1200) {
      font-size: 15px;
    }

    &:hover {
      opacity: .7;
    }
  }

  &__agreement {
    color: #F5A9B2;
    border-bottom: 1px solid #F5A9B2;

    &:hover {
      color: $white;
    }
  }

  &__tel {
    color: $white !important;
    font-family: $t-Bold;
    font-size: 20px;

    @include r(1200) {
      font-size: 15px;
    }

    &:hover {
      opacity: .7;
    }
  }
}