$dark: #333333;

$red: #EA4256;
$darkRed: #D73A4D;
$lightRed: #F84E63;
$tr: transparent;

$yellow: #F9EAB8;
$darkYellow: #E3D5A4;
$lightYellow: #FFF2C6;

$gray: #F1F1F1;
$darkGray: #E6E6E6;
$lightGray: #F3F3F3;

.wt {
  color: #fff;
}

.black {
  color: #000;
}

.text-gray {
  color: #888;
}