.offer {
  position: relative;
  color: $white;
  overflow: hidden;
  border-radius: 60px;
  padding-bottom: 102px;
  max-width: 1305px;
  margin-left: auto;
  margin-right: auto;

  @include r(1200) {
    padding-bottom: 69px;
    border-radius: 0;
  }

  @include r(768) {
    padding-bottom: 0;
  }

  & .container {
    position: relative;
  }

  &-in {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    min-height: 375px;

    @include r(1200) {
      gap: 20px;
    }

    @include r(768) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
    }

    &__wrapper {
      position: relative;
      z-index: 2;
    }
  }

  &__pictures-wrapper {
    position: relative;
    z-index: 1;

    @include r(768) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &-wrapper {
    position: relative;
    padding-top: 83px;
    padding-bottom: 83px;
    background-image: url('../img/pattern.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-bottom-left-radius: 60px;

    @include r(1200) {
      padding-top: 46px;
      padding-bottom: 46px;
      border-radius: 0;
    }

    @include r(768) {
      padding-bottom: 0;
    }

    &::before {
      position: absolute;
      content: '';
      width: 1305px;
      height: 100%;
      left: 50%;
      top: 0;
      //background-color: $red;
      opacity: 0.3;
      background: conic-gradient(from 152.99deg at 72.3% 35.04%, #EA4256 0deg, #EC6878 360deg);;
      transform: translateX(-50%);
      //border-radius: 60px;
      border-bottom-left-radius: 60px;

      @include r(1305) {
        width: 100%;
      }

      @include r(1200) {
        border-radius: 0;
      }
    }
  }

  &__app {
    position: absolute;
    top: calc(100% + 82px);
    right: -80px;
    //border-bottom-right-radius: 60px;
    fill: #ea465a;

    @include r(1200) {
      height: 70px;
      width: 50%;
      top: calc(100% + 44px);
    }

    @include r(768) {
      display: none;
    }
  }

  &__title {
    max-width: 602px;
    margin-bottom: 0;
    text-align: left;

    @include r(768) {
      text-align: center;
    }
  }

  &__description {
    font-size: 22px;
    letter-spacing: 0.5px;
    max-width: 549px;

    @include r(1200) {
      font-size: 18px;
    }
  }

  & > * {
    position: relative;
  }

  &-promo {
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-top-left-radius: 36px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 36px;
    gap: 11px;
    color: $white;
    font-size: 18px;

    @include r(1200) {
      font-size: 16px;
      padding: 16px 23px;
    }

    @include r(768) {
      font-size: 14px;
      padding: 14px 21px;
      gap: 7.5px
    }

    svg {
      fill: $white;

      min-width: 23px;

      @include r(768) {
        width: 18px;
        height: 18px;
        min-width: 18px;
      }
    }

    span {
      margin-bottom: -4px;
    }
  }

  &__description {
    color: #FAC8CE;

    @include r(768) {
      font-size: 16px;
    }

    span {
      color: $white;
    }
  }

  &-phone {
    position: absolute;
    z-index: 3;
    right: -150px;
    top: -20px;

    @include r(1200) {
      max-width: 580px;
    }

    @include r(976) {
      max-width: 500px;
      top: -20px;
    }

    @include r(768) {
      position: relative;
      top: 0;
      right: -49px;
      text-align: right;
    }
  }

  &-circles {
    position: absolute;
    z-index: 1;
    right: -130px;
    top: -60px;

    @include r(1200) {
      display: none;
    }
  }

  &-mobile-circles {
    display: none;

    @include r(768) {
      display: block;

      &::before,
      &::after {
        position: absolute;
        content: '';
        background-color: $white;
        border-radius: 50%;
      }

      &::before {
        width: 22px;
        height: 22px;
        left: 10%;
        bottom: 130px;
      }

      &::after {
        width: 73px;
        height: 73px;
        left: 25%;
        bottom: -45px;
      }
    }
  }

  &--blog {
    padding-bottom: 189px;

    .offer-wrapper {
      &::before {
        opacity: 0.5;
      }

      &::after {
        position: absolute;
        content: '';
        width: 150px;
        height: 100px;
        background: linear-gradient(0deg, rgba(234,70,90,1) 0%, rgba(237,106,121,0) 100%);
        right: 0;
        bottom: 0;
      }
    }

    .offer-phone {
      top: 0;
    }

    .offer__app {
      height: 189px;
      right: -83px;
    }
  }
}

.ind {
  @include r(576) {
    position: relative;
  }

  &__title {
    span {
      position: relative;
      display: inline-block;

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        transform: translate(-50%, -50%);
      }
    }
  }
}

.ind-item {
  border-radius: 35px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__top {
    position: relative;
    padding-top: 16px;
    padding-bottom: 24px;
    background-color: #F8F8F8;
    @include flex-center;


    svg {
      position: absolute;
      bottom: -27px;
      @include ease;
      fill: #f1f1f1;
    }
  }

  &__number {
    position: absolute;
    color: $white;
    background: linear-gradient(180deg, #FFFFFF -12.49%, rgba(255, 255, 255, 0) 132.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 140px;
    text-align: center;
    left: 50%;
    bottom: -10px;
    line-height: 1;
    transform: translateX(-50%);
    font-family: $t-Black;
  }

  &__picture-wrapper {
    position: relative;
    width: 137px;
    height: 137px;
    @include flex-center;
  }

  &__bottom {
    position: relative;
    padding: 30px 15px 35px;
    background-color: #F1F1F1;
    @include ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    //&::before {
    //  @include ovl;
    //  background: rgb(187,224,226);
    //  background: linear-gradient(180deg, $tr 0%, #f1f1f1 64%);
    //  height: 50%;
    //  top: auto;
    //  bottom: 0;
    //  opacity: .5;
    //  @include ease;
    //}
    //
    //&::after {
    //  @include ovl;
    //  background: rgb(187,224,226);
    //  background: linear-gradient(180deg, $tr 0%, #333 64%);
    //  height: 50%;
    //  top: auto;
    //  bottom: -100%;
    //  opacity: .5;
    //  @include ease;
    //}
  }

  &__title {
    margin-bottom: 18px;
    @include ease;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 17px;
    color: #888888;

    span {
      background: linear-gradient(180deg, #888888 40.16%, rgba(131, 131, 131, 0.3) 127.95%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  &:hover {
    .ind-item {
      &__title {
        color: $white;
      }
      &__top {
        svg {
          fill: $dark
        }
      }
      &__list {
        span {
          background: linear-gradient(180deg, #CECECE 40.16%, rgba(131, 131, 131, 0.3) 127.95%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
      &__bottom {
        background-color: $dark;
      }
    }
  }
}


.ind-button {
  @include flex-center;
  flex-direction: column;
  gap: 28px;
  background-image: url('../img/ind-pattern.jpg');
  @include cv;
  background-size: 130%;
  width: 100%;
  height: 100%;
  border-radius: 35px;

  svg {
    @include ease;
  }

  &:hover {
    svg {
      transform: scale(1.1);
    }
  }

  span {
    font-size: 25px;
    line-height: 1.8;
    color: $white;
  }
}

.ind {
  @include r(575) {
    position: relative;
  }

  &-slider-wrapper {
    position: relative;

    @include r(575) {
      position: static;
      margin-right: 30%;
    }
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-wrapper {
    overflow: visible;
  }
  .swiper-scrollbar {
    bottom: -60px;

    @include r(575) {
      bottom: 0;
    }
  }
}
.layout {
  .swiper-scrollbar {
    width: 282px;
    height: 11px;
    background: #F1F1F1;
    left: 50%;
    transform: translateX(-50%);

    @include r(1200) {
      height: 7px;
    }
  }
  .swiper-scrollbar-drag {
    background: $dark;
    cursor: pointer;
  }
}


.work {
  position: relative;
  background: linear-gradient(261.77deg, #F8F8F8 2.89%, rgba(248, 248, 248, 0.2) 117.28%);
  border-radius: 71px 15px 71px 71px;
  padding: 80px 70px;
  overflow: hidden;

  @include r(1200) {
    padding: 65px 30px;
  }

  @include r(768) {
    padding: 30px 15px;
  }

  &:not(:last-child) {
    margin-bottom: 50px;
  }

  &__description {
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #888888;

    @include r(768) {
      font-size: 14px;
    }
  }

  &-info {
    position: relative;
    z-index: 1;
    & > * {
      text-align: left!important;
    }

    @include r(768) {
      .section__title-h2 {
        font-size: 25px;
      }
    }
  }

  &-picture {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include r(1200) {
      transform: translate(0, 0);
      left: auto;
      right: 0;
      top: -70px;
      max-height: 420px;
    }

    @include r(768) {
      position: static;
      max-width: 100%;
      height: auto;
      margin-bottom: 30px;
      max-height: 320px !important;
    }

    &__wrapper {
      position: relative;
      height: 100%;

      @include r(768) {
        display: flex;
        justify-content: center;
      }
    }
  }

  &--3 {
    .work-picture {
      margin-top: 53px;

      @include r(1200) {
        max-height: 350px;
      }

      @include r(1026) {
        max-width: 270px;
        margin-top: 80px;
      }

      @include r(768) {
        margin-top: 0;
        max-width: 100%;
      }
    }
  }

  &--4 {
    @include r(1200) {
      .work-picture {
        right: -60px;
        border-bottom-right-radius: 60px;
      }
    }

    @include r(768) {
      .work-picture {
        right: 0;
      }
    }
  }
  //  @include r(1200) {
  //    &::before {
  //      position: absolute;
  //      content: '';
  //      width: 250px;
  //      height: 250px;
  //      background-color: #000;
  //      bottom: 0;
  //      right: 0;
  //      z-index: 1;
  //    }
  //  }
  //}
}

.work-switch {
  background: linear-gradient(180deg, #D3D5D8 0%, rgba(210, 212, 216, 0) 107.69%);
  border-radius: 9.71402px;
  display: flex;
  padding: 10px;
  width: 45px;
  min-width: 45px;
  height: 100%;
  overflow: hidden;

  @include r(768) {
    width: 35px;
    min-width: 35px;
    padding: 5px;
  }

  svg {
    width: 25px;
    min-width: 25px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    @include r(768) {
      gap: 11px
    }
  }

  &__item {
    font-size: 11px;
    color: #888888;
    padding: 10px;
    letter-spacing: 0.5px;
    background: #FFFFFF;
    border-radius: 3px 9px 9px 9px;
  }
}

.work-additional {
  background-color: #F9EAB8;
  color: #C0B68F;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  border-radius: 14px;
  padding: 15px;

  &__perc {
    font-family: $n-UltraBold;
    font-size: 55px;

    @include r(768) {
      font-size: 41px;
    }
  }
}

.pay {
  @include r(1200) {
    padding-bottom: 0;
  }
}

.pay-star {
  margin-top: -58px;

  @include r(976) {
    margin-top: 0;
  }

  @include r(768) {
    margin-top: -34px;
  }
}

.pay-info {
  color: #9C936D;
  border-radius: 20px 35px 20px 7px;
  background-color: #F9EAB8;
  background-image: url('../img/pay-info-bg.jpg');
  @include cv;
  background-position: bottom left;
  padding: 36px 39px;

  @include r(1200) {
    padding: 22px 25px;
    border-radius: 16px 25px 16px 7px;
  }

  &__text {
    color: #C0B68F;
    margin-bottom: 23px;
  }
  &__title {
    font-family: $t-DemiBold;
  }
}

.tariff {
  box-shadow: 0 47px 59px -20px rgba(164, 164, 164, 0.2);

  &-section {
    position: relative;
    .swiper-scrollbar {
      display: none;

      @include r(1200) {
        bottom: -36px;
        display: block;
      }
    }
  }

  &-slider-wrapper {
    @include r(1200) {
      margin-right: 30%;
    }
  }

  &-wrapper {
    position: relative;
  }

  &__icon {
    position: absolute;

    &--1 {
      left: -10%;
      top: 50%;
      transform: translateY(-50%);

      @include r(1200) {
        width: 148px;
        height: 148px;
        left: -15%;
      }
    }

    &--2 {
      left: calc(100% + 30px);
      top: 50%;

      @include r(1200) {
        top: auto;
        bottom: -70px;
        left: calc(100% - 50px);
        width: 38px;
        height: 38px;
      }
    }

    &--3 {
      width: 24px;
      height: 24px;

      left: -140px;
      top: calc(50% + 110px);
      background: #EA4256;
      border-radius: 50%;
    }

  }

  &__title {
    font-family: $n-UltraBold;
  }

  &__top {
    position: relative;
    padding: 73px 15px 42px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(87px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid #F5F5F5;
    overflow: hidden;

    @include r(1200) {
      padding: 58px 15px 33px;
    }
  }
  &__bar {
    position: absolute;
    font-size: 16px;
    font-family: $t-DemiBold;
    letter-spacing: 0.5px;

    text-align: center;
    padding: 15px 15px;
    width: 300px;
    border-radius: 10px;
    transform: rotate(30deg);
    top: 20px;
    right: -70px;

    background-color: #F9EAB8;
    box-shadow: 0 25px 39px rgba(249, 234, 184, 0.3);

    @include r(1200) {
      font-size: 13px;
      padding: 8px 15px;
      top: 20px;
      right: -90px;
    }

    &--green {
      color: $white;
      background: #8FD97D;
      box-shadow: 0px 25px 39px rgba(143, 217, 125, 0.3);
    }
  }

  &__middle {
    text-align: center;
    padding: 37px 10px 20px;
    background: linear-gradient(238.56deg, rgba(227, 227, 227, 0.1) 5.25%, rgba(227, 227, 227, 0) 64.14%);
    backdrop-filter: blur(87px);
    border: 1px solid #F5F5F5;
    border-top: none;

    @include r(1200) {
      padding: 29px 5px;
    }
  }
  &__number {
    font-size: 55px;
    font-family: $n-UltraBold;
    background: linear-gradient(92.03deg, #333333 6.15%, rgba(51, 51, 51, 0.7) 123.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    line-height: 1.2;

    @include r(1200) {
      font-size: 45px;
    }

    @include r(768) {
      font-size: 35px;
    }
  }

  &__info {
    position: relative;
    @include flex-center;
    background: rgba(255, 255, 255, 0.5);
    //backdrop-filter: blur(87px);
    //border-top-left-radius: 20px;
    //border-top-right-radius: 20px;
    z-index: 1;

    &-item {
      position: relative;
      font-size: 16px;
      font-family: $t-DemiBold;
      padding: 11px 29px;
      border-radius: 10px;
      z-index: 1;
      letter-spacing: 0.5px;

      transform: translateY(50%);

      color: #888;
      background-color: #F4F4F4;

      @include r(1200) {
        font-size: 13px;
      }

      &--yellow {
        color: $dark;
        background-color: #F9EAB8;
      }
      &--green {
        color: $white;
        background-color: #8FD97D;
      }
    }
  }

  &__button {
    width: 100%;
    padding-top: 46px;
    padding-bottom: 33px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    @include r(1200) {
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }

    @include r(768) {
      padding-top: 37px;
      padding-bottom: 23px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.table {
  font-size: 18px;
  background: #F8F8F8;
  border-radius: 20px;
  width: 100%;

  @include r(1200) {
    font-size: 14px;
    border-radius: 16px;
  }

  @include r(768) {
    margin-bottom: 50px;
  }

  &-wrapper {
    display: flex;
    //align-items: flex-end;
  }

  &-info {
    position: relative;
    font-size: 18px;
    height: calc(100% - 71px);
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: 71px;

    @include r(1200) {
      font-size: 14px;
      margin-top: 61px;
    }

    div {
      flex-grow: 1;
      margin-bottom: 32px;

      @include r(1200) {
        margin-bottom: 25px;
      }

      &:first-child {
        color: $white;
      }
    }

    span {
      display: inline-block;
      padding: 14px 18px;

      @include r(1200) {
        padding: 12px 0;
      }
    }
  }

  &-row {
    color: #888888;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  &-header {
    & > div {
      position: relative;
      padding: 23px 22px;

      @include r(1200) {
        padding: 18px 9px;
      }

      &:nth-child(1),
      &:nth-child(2) {
        &::after {
          position: absolute;
          content: '';
          right: 0;
          top: 0;
          width: 1.5px;
          height: 260px;
          background: linear-gradient(180deg, #eaeaea 0%, $tr 100%);
        }
      }
    }
  }

  &-body {
    position: relative;
    margin-bottom: 32px;

    @include r(1200) {
      margin-bottom: 25px;
    }

    &::before {
      position: absolute;
      content: '';
      width: calc(100% + 91px);
      height: 100%;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $white;
      box-shadow: 16px 11px 21px rgba(51, 51, 51, 0.1);
      border-radius: 15px 15px 15px 0;

      @include r(1200) {
        right: 18px;
        width: calc(100% + 81px);
      }
    }


    &:first-child {
      &::before {
        background-color: $red;
      }
    }

    & > div {
      position: relative;
      padding: 13px 10px;
    }
  }
}


.reviews {
  &-wrapper {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background: radial-gradient(98.06% 134.85% at 5.59% 10.83%, rgba(74, 74, 74, 0.2) 0%, rgba(51, 51, 51, 0.2) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      border-radius: 20px;
      width: calc(100% - 60px);
      height: calc(100% + 40px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .swiper-slide.swiper-slide-active {
      .reviews {
        &-top__item{
          span {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
        &-top__item,
        &-bottom__item {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }
  &-in {
    position: relative;
    color: $white;
    font-size: 14px;
    background: radial-gradient(98.06% 134.85% at 5.59% 10.83%, #4A4A4A 0%, #333333 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 20px;
    overflow: hidden;
  }

  &-top {
    position: relative;
    margin-right: 65px;

    @include r(1200) {
      margin-right: 55px;
    }

    &__item {
      font-family: $t-Regular;
      line-height: 1.6;
      letter-spacing: 0.5px;
      display: flex;
      align-items: center;
      padding: 35px 30px 35px;
      min-height: 215px;

      @include r(1200) {
        font-size: 13px;
        padding: 20px 20px;
      }

      span {
        //display: inline-block;
        @include ease-long;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
      }
    }
  }

  &-nav {
    position: absolute;
    left: 100%;
    top: 0;
    width: 65px;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-left: 1px solid #555555;
    z-index: 1;

    @include r(1200) {
      width: 55px;
    }

    &__item {
      background-color: #303030;

      &.swiper-button-disabled {
        background-color: $tr;
        cursor: auto;

        svg {
          fill: #555555;
        }
      }

      &:first-child {
        border-bottom: 1px solid #555555;
      }

      svg {
        fill: $white;
        @include ease;
      }

      &:hover {
        svg {
          opacity: .7;
        }
      }
    }
  }

  &-bottom {
    position: relative;
    border-top: 1px solid #555555;
    padding: 16px 35px;

    @include r(1200) {
      font-size: 13px;
      padding: 16px 20px;
    }

    &::before {
      position: absolute;
      content: '';
      width: 18px;
      height: 18px;
      background-color: $white;
      left: -9px;
      top: -9px;
      transform: rotate(45deg);

      @include r(1200) {
        width: 14px;
        height: 14px;
        top: -7px;
        left: -7px;
      }
    }
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include ease-long;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition-delay: 0.2s;
    }
  }

  &-info {
    display: flex;
    align-items: center;
    gap: 22px;

    @include r(1200) {
      gap: 15px;
    }

    &__picture {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 105%;
      height: auto;

      &-wrapper {
        position: relative;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: $red;
        overflow: hidden;
      }
    }

    &__title {
      font-family: $t-DemiBold;
      margin-bottom: 1px;
    }
  }

  &-rating {
    display: flex;
    align-items: center;
    gap: 11px;

    span {
      font-family: $n-UltraBold;
      font-size: 55px;

      background: linear-gradient(92.03deg, #FFFFFF 6.15%, rgba(255, 255, 255, 0) 123.49%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @include r(1200) {
        font-size: 40px;
      }
    }
  }
}


.why {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 193px;

  &-section {
    .swiper-wrapper {
      justify-content: center;

      @include r(1200) {
        justify-content: flex-start;
      }
    }

    .swiper-slide {
      width: auto;
    }
  }

  &:hover {
    .why__icon {
      top: -10px;
    }
  }

  &__subtitle {
    color: #888888;
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    width: 100px;
    height: 80px;
    @include flex-center;
    background: #EA4256;
    box-shadow: 0 22px 48px rgba(234, 66, 86, 0.2);
    border-radius: 22px;

    @include ease;
  }

  &__bottom {
    background: linear-gradient(261.77deg, #F8F8F8 2.89%, rgba(248, 248, 248, 0.2) 117.28%);
    border-radius: 22px;
    padding: 97px 25px 41px;
    flex-grow: 1;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #534f4f26;

    @include r(768) {
      padding: 77px 15px 21px;
    }
  }
}

.now {
  background-image: url('../img/now-bg.jpg');
  @include cv;
  padding-top: 110px;
  padding-bottom: 110px;

  @include r(768) {
    padding-top: 50px;
    padding-bottom: 50px;

    .section__title-h2 {
      text-align: center;
    }
  }

  &__icon {
    width: 68px;
    min-width: 68px;
    height: 78px;

    background: #F9EAB8;
    border-radius: 15px 15px 7px 15px;

    @include flex-center;

    @include r(768) {
      width: 51px;
      height: 59px;
      border-radius: 11px 11px 5px 11px;

      svg {
        width: 25px;
        height: 23px;
      }
    }
  }

  &__title {
    text-align: left;
    margin-left: 36px;
    color: $white;
  }

  &__button {
    margin: auto;

    @include rmin(769) {
      width: 100%;
    }

  }
}


.question {
  position: relative;
  letter-spacing: 0.5px;
  padding-top: 35px;
  padding-bottom: 35px;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;

  @include r(1200) {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  @include r(768) {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: -7px;
    width: 23px;
    height: 7px;
    background: $red;
    border-radius: 2px 3.5px 0 0;
    transform: scaleY(0);
    @include ease-long;
    transform-origin: left bottom;
  }

  &:last-child {
    border-bottom: none;
  }

  &--active {
    &::before {
      transform: scaleY(1);
    }

    .question__top {
      svg {
        transform: rotate(0) translateY(-50%) ;
        fill: $red;
      }
    }
  }

  &__top {
    position: relative;
    padding-right: 35px;
    font-size: 18px;
    font-family: $t-DemiBold;
    cursor: pointer;

    @include r(1200) {
      font-size: 14px;
    }

    svg {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      @include ease-long;

      @include r(1200) {
        width: 18px;
        height: 18px;
      }

      @include r(768) {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__bottom {
    padding-top: 30px;
    color: #9C9C9C;

    @include r(1200) {
      font-size: 13px;
    }

    &-in {
      max-width: 844px;
    }
  }
}

.material {
  background-color: #F8F8F8;
  border-radius: 16px;
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
  height: 100%;

  &-list {

    .swiper-slide {
      @include r(1200) {
        height: auto;
      }
    }

    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;

      @include r(1200) {
        display: flex;
        grid-template-columns: auto;
        gap: unset;
      }
    }
    @include r(1200) {
      margin-right: 115px;
    }
  }

  &__picture {
    width: 100%;
    height: 115px;
    @include cv;
    border-radius: 16px;
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 0;
  }

  &__info {
    position: relative;
    flex-grow: 1;
    padding: 30px 40px 40px;
    display: flex;
    flex-direction: column;

    @include r(1200) {
      padding: 24px 32px;
    }

    @include r(768) {
      padding: 20px 28px;
    }

    //&::before {
    //  @include ovl;
    //  background: rgb(187,224,226);
    //  background: linear-gradient(180deg, $tr 0%, #f1f1f1 64%);
    //  height: 60%;
    //  top: auto;
    //  bottom: 0;
    //  opacity: 1;
    //  @include ease;
    //}

    & > .button {
      position: relative;
      width: 100%;
      margin-top: auto;
    }
  }

  &__title {
    font-family: $n-Bold;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__text {
    color: #9C9C9C;
    font-size: 14px;
    letter-spacing: 0.4px;
    margin-bottom: 23px;
    line-height: 1.5;
    background: linear-gradient(180deg, #9C9C9C 76.56%, rgba(156, 156, 156, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__more {
    position: relative;
    width: 100%;
    margin-top: 30px;

    & > span:first-child {
      position: relative;
      z-index: 1;
    }

    &-icon {
      position: absolute;
      width: 90px;
      height: 40px;
      border-radius: 50%;
      left: 50%;
      bottom: -20px;
      transform: translateX(-50%);
      background-color: #F1F1F1;
      @include flex-center;
      @include ease;

      svg {
        margin-right: 0;
      }
    }

    &:hover {
      .material__more-icon {
        background-color: $darkGray;
      }
    }

    &:active,
    &:focus {
      .material__more-icon {
        background-color: $lightGray;
      }
    }
  }
}