<footer class="footer">
    <div class="container">
        <div class="footer__in">
            <div class="d-flex align-items-center justify-content-between mb-4 mb-sm-4">
                <a href="#" class="footer-logo">
                    <svg width="174" height="78">
                        <use xlink:href="#logo"></use>
                    </svg>
                </a>
                <div class="d-flex align-items-center">
                    <a class="footer__social mr-2 mr-xl-4" href="#">
                        <img src="{{root}}assets/img/in.png" alt="Instagram">
                    </a>
                    <a class="footer__social" href="#">
                        <img src="{{root}}assets/img/vk.png" alt="Vkontakte">
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-between flex-column align-items-center flex-md-row align-items-md-end">
                <div class="d-flex flex-md-column align-items-center align-items-md-start mb-3 mb-md-0">
                    <a href="#" class="footer__link d-flex align-items-center mr-4 mr-md-0 mb-md-2 mb-xl-3">
                        <svg width="17" height="17">
                            <use xlink:href="#comrades"></use>
                        </svg>
                        <span class="ml-2">Партнерам</span>
                    </a>
                    <a href="#" class="footer__link d-flex align-items-center">
                        <svg width="17" height="12" fill="#fff">
                            <use xlink:href="#camera"></use>
                        </svg>
                        <span class="ml-2">Блогерам</span>
                    </a>
                </div>

                <div class="d-flex flex-column align-items-center align-items-md-end">
                    <a class="footer__agreement mb-2 mb-xl-3 ls-05" href="#">Пользовательское соглашение</a>
                    <a class="footer__tel ls-05" href="tel:+7 (495) 320-89-95">+7 (495) 320-89-95</a>
                </div>
            </div>
        </div>
    </div>
</footer>