<section class="section--inner" id="questions">
    <div class="container">
        <div class="section__title-h1"><span class="section-decor"><span>Частые вопросы</span></span></div>
        <div class="question-list">
            <div class="question">
                <div class="question__top js-toggle-question">
                    <div class="question__title">Можно ли посещать заведения без бронирования визита?</div>
                    <svg width="22" height="22">
                        <use xlink:href="#cross-thin"></use>
                    </svg>
                </div>
                <div class="question__bottom">
                    <div class="question__bottom-in">
                        <p>Вы можете забронировать депозит в любое комфортное для вас время, однако в дальнейшем необходимо согласовать с заведением дату и время визита</p>

                        <p>Если в заведении есть свободные места и оно готово принять блогеров прямо сейчас, то вы сможете сразу воспользоваться своим депозитом</p>
                    </div>
                </div>
            </div>
            <div class="question">
                <div class="question__top js-toggle-question">
                    <div class="question__title">Как часто можно посещать заведения?</div>
                    <svg width="22" height="22">
                        <use xlink:href="#cross-thin"></use>
                    </svg>
                </div>
                <div class="question__bottom">
                    <div class="question__bottom-in">
                        <p>BARTER MAP никак не ограничивает количество визитов, посещайте заведения когда захотите.</p>
                        <p>Однако заведение может задать ограничение на повторные визиты: не чаще чем один раз в день, неделю, месяц</p>
                    </div>
                </div>
            </div>
            <div class="question">
                <div class="question__top js-toggle-question">
                    <div class="question__title">Какая средняя сумма дипозитов?</div>
                    <svg width="22" height="22">
                        <use xlink:href="#cross-thin"></use>
                    </svg>
                </div>
                <div class="question__bottom">
                    <div class="question__bottom-in">
                        <p>Мы используем умные депозиты</p>
                        <p>Каждое заведение индивидуально указывает депозит для больших и маленьких блогеров</p>
                        <p>Далее депозит автоматически подстраиваются под каждого блогера, в зависимости от его охватов</p>
                        <p>С ростом вашей популярности, доступные депозиты также будут увеличиваться</p>
                    </div>
                </div>
            </div>
            <div class="question">
                <div class="question__top js-toggle-question">
                    <div class="question__title">Что делать, если во время визита возникла непредвиденная ситуация?</div>
                    <svg width="22" height="22">
                        <use xlink:href="#cross-thin"></use>
                    </svg>
                </div>
                <div class="question__bottom">
                    <div class="question__bottom-in">
                        <p>Если во время визита вы столкнулись с трудностями или какой-то неприятной ситуацией, вам всегда доступна наша заботливая поддержка, которая поможет разобраться с любой ситуации</p>
                    </div>
                </div>
            </div>
            <div class="question">
                <div class="question__top js-toggle-question">
                    <div class="question__title">Что делать, если заведение не понравилось?</div>
                    <svg width="22" height="22">
                        <use xlink:href="#cross-thin"></use>
                    </svg>
                </div>
                <div class="question__bottom">
                    <div class="question__bottom-in">
                        <p>После визита вы можете поставить низкий рейтинг заведению и наша служба контроля качества начинёт проверку заведения</p>
                        <p>При выявлении посредственного качества и неподобающего поведения, компанию могут отключить от платформы навсегда</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>